@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Josefin+Sans&display=swap');

* {
  margin: 10px;
}

.App {
  text-align: center;
}

.post {
  border: 1px solid green;
  margin: 30px;
}

.comment {
  border: 1px solid orange;
}

/* App.js */
.app-div {
  margin-top: 20%;
}

.app-p{
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 30px;
}


/* Header */
#header-title {
  font-family: 'Bungee Spice', cursive;
  margin: 10px 0 10px 10px;
  font-size: 30px;
  color: inherit;
  border: 0;
  background-color: white;
  cursor: pointer;
}

#welcome_p {
  font-family: "Josefin Sans", cursive ;
}

/* form */
#form {
  margin: 10px 30px 10px 30px;
}

/* LogIn Register page */
#log-reg-h1 {
  font-family: 'Rubik Bubbles', cursive;
  text-align: center;
  font-size: 40px;
}

#reg-log-error {
  color: red;
  padding-left: 50px;
}

/* like-buttons */
#like-button {
  border: 0;
  background-color: white;
  float: right;
  cursor: pointer;
}

/* post-list */
#post-title {
  color: black;
  font-family:'Times New Roman', Times, serif
}

.post-name {
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  float: right;
}