@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Josefin+Sans&display&family=Peralta&family=Montserrat:ital&family=Roboto:wght@700&display=swap');

* {
  margin: 10px;
  background-color: rgb(235,236,240);
}

.App {
  text-align: center;
}

.post {
  border: 1px solid green;
  margin: 30px;
}

.comment {
  border: 1px solid orange;
}

/* App.js */
.app-div {
  margin-top: 20%;
}

.app-p{
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 30px;
}


/* Header */

#header-div {
  position: relative;
}

#header-title {
  position: relative;
  height: 30vh;
  background-image: 
    linear-gradient(rgba(4,9,30,0.5), rgba(4,9,30,0.7)), 
    url('https://images.unsplash.com/photo-1542382257-80dedb725088?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2128&q=80');
  background-position: center;
  background-size: cover;
  font-family: 'Peralta', cursive;
  font-weight: 700;
  color:White;
  font-style: italic;
  font-size: 80px;
  align-items:center ;
  margin:0 auto;
  text-align: center;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor:pointer;
}

#welcome_p {
  color:white;
  position: relative;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  text-align: right;
  bottom:59px;
  background-image: 
  linear-gradient(rgba(4,9,30,0.5), rgba(4,9,30,0.7)), 
  url('https://images.unsplash.com/photo-1542382257-80dedb725088?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2128&q=80');
background-position: center;
background-size: cover;
  

}

#log-out {
  color:white;
  position: relative;
  bottom:77px;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  float: right;
  cursor: pointer;
  background-image: 
  linear-gradient(rgba(4,9,30,0.5), rgba(4,9,30,0.7)), 
  url('https://images.unsplash.com/photo-1542382257-80dedb725088?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2128&q=80');
background-position: center;
background-size: cover;
}

#header-button {
  color:white;
  position: relative;
  /* text-decoration: none; */
  bottom: 35px;
  background-image: 
  linear-gradient(rgba(4,9,30,0.5), rgba(4,9,30,0.7)), 
  url('https://images.unsplash.com/photo-1542382257-80dedb725088?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2128&q=80');
background-position: center;
background-size: cover;
  
}




/* form */
#form {
  margin: 10px 30px 10px 30px;
}

/* LogIn Register page */
#log-reg-h1 {
  font-family: 'Rubik Bubbles', cursive;
  text-align: center;
  font-size: 40px;
}

#reg-log-error {
  color: red;
  padding-left: 50px;
}

/* PostList */
.post-list{
  display:inline-block;
  width: 500px;;
}

.post-box {
  background-color: rgb(190,210,210);
  margin: 30px;
  border-radius: 5px;
  text-align: center;
}

#name-p {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-style: italic;
  background-color: rgb(190,210,210);
  padding-top: 10px;
  text-align: left;
}

#title-p{
  font-family: 'Roboto', sans-serif;
  background-color: rgb(255,255,255);
  font-size: 30px;
  font-weight: bold;
  padding: 0.5em;
  margin: 0 30px;
  border-radius: 5px;
}

a .title-tag {
  text-decoration: none; 
}

a :hover {
  color:saddlebrown;
  cursor:pointer
}

#edit-btn {
  background-color:rgb(255,255,255);
  width: 75px;
  padding: 5px 10px;
  border: 1px solid white;
  border-radius: 15px;
  cursor:pointer;
  margin: 10px;
  font-weight: bold;
}

#delete-btn {
  background-color:rgb(255,255,255);
  width: 75px;
  padding: 5px 10px;
  border: 1px solid white;
  border-radius: 15px;
  cursor:pointer;
  margin: 10px;
  font-weight: bold;
}

/* post-detail */
#post-detail-box {
  width:80%;
  /* height: 70vh; */
  background-color: rgb(230,223,212);
  margin: 0 auto;
  text-align: center;
}

#post-detail-h1 {
  background-color:rgb(230,223,212);
  padding: 20px;
  font-family: 'Peralta', cursive;
  color: rgb(61,40,30);
  font-size: 80px;
}

#post-detail-p {
  background-color: rgb(230,223,212);
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  text-align: justify;
  padding: 10px 40px;
  word-break: normal;
  white-space: pre-wrap;
  line-height: 1.5;
}

#like-button {
  background-color: rgb(230,223,212);
  border: 1px solid rgb(230,223,212);
  width: 100px;
  border-radius: 10px;
  float: right;
  cursor: pointer;
  padding: 10px;
  margin-right: 150px;
}

#like-num {
  background-color: rgb(230,223,212);
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
}

