@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Josefin+Sans&display&family=Peralta=swap');

* {
  margin: 10px;
  background-color: rgb(235,236,240);
}

.App {
  text-align: center;
}

.post {
  border: 1px solid green;
  margin: 30px;
}

.comment {
  border: 1px solid orange;
}

/* Header */


#header-title {
  /* background-color: brown; */
  height: 20vh;
  background-image: 
    linear-gradient(rgba(4,9,30,0.5), rgba(4,9,30,0.7)), 
    url('https://images.unsplash.com/photo-1542382257-80dedb725088?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2128&q=80');
  background-position: center;
  background-size: cover;
  font-family: 'Peralta', cursive;
  font-weight: 700;
  color:White;
  font-style: italic;
  font-size: 70px;
  align-items:center ;
  margin:0 auto;
  padding-top: 20px;
  text-align: center;
}

/* #header-title {
  font-family: 'Bungee Spice', cursive;
  margin: 10px 0 10px 10px;
  font-size: 30px;
  color: inherit;
} */

#welcome_p {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  text-align: right;
}

#log-out {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  text-align: right;
}

.head {
  white-space: nowrap;
  overflow: auto;
}


/* form */
#form {
  margin: 10px 30px 10px 30px;
}

/* LogIn Register page */
#log-reg-h1 {
  font-family: 'Rubik Bubbles', cursive;
  text-align: center;
  font-size: 40px;
}

#reg-log-error {
  color: red;
  padding-left: 50px;
}

/* PostList */
.post-list{
  /* background-color:darkkhaki; */
  display:inline-block;
  width: 500px;;

}

.post-box {
  background-color: rgb(190,210,210);
  margin: 30px;
  border-radius: 5px;
  text-align: center;
}

#name-p {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-style: italic;
  background-color: rgb(190,210,210);
  padding-top: 10px;
  text-align: left;
}

#title-p{
  font-family: 'Roboto', sans-serif;
  background-color: rgb(255,255,255);
  font-size: 30px;
  padding: 0.5em;
  margin: 0 30px;
  border-radius: 5px;
}

/* &family=Montserrat:ital&family=Roboto:wght@700&display  */

a .title-tag {
  text-decoration: none; 
}

a :hover {
  color:saddlebrown;
  cursor:pointer
}

#edit-btn {
  background-color:rgb(255,255,255);
  width: 75px;
  padding: 5px 10px;
  border: 1px solid white;
  border-radius: 15px;
  cursor:pointer;
  margin: 10px;
  font-weight: bold;
}

#delete-btn {
  background-color:rgb(255,255,255);
  width: 75px;
  padding: 5px 10px;
  border: 1px solid white;
  border-radius: 15px;
  cursor:pointer;
  margin: 10px;
  font-weight: bold;
}
/* like-buttons */
#like-button {
  border: 0;
  background-color: white;
  float: right;
  cursor: pointer;
}

/* post-list */
#post-title {
  color: black;
  font-family:'Times New Roman', Times, serif
}

.post-name {
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}